/* Alinierea elementelor*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#entire-form {
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5px;
}

#container-with-2semi-containers {
    display: flex;
    flex-direction: row;
}

.semi-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
}

#fname, #lname, #email, #phone {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#country, #address, #subject {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px;
}

#submit-button {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px;
}

/* Stilizarea elementelor (culorile) */

body {
    background-color: #c5a8e0;
}

h1 {
    color: white;
}

#entire-form {
    background-color: white;
}

#entire-form input{
    background-color: #c59fe8;
    border: none;
    border-radius: 3px;
}

input::placeholder,
textarea::placeholder {
    color: white; /* Change this to your desired color */
}

#country select, 
#address input {
    background-color: #a25ce0;
    border:none;
    border-radius: 3px;
    color: white;
}

#subject textarea{
    background-color: #8531d1;
    border:none;
    border-radius: 3px;
    color: white;
    resize: none;
}

#submit-button button {
    background-color: #410179;
    border: none;
    color: white;
    border-radius: 8px;
    height: 40px;
    font-weight: bold;
}

#submit-button button:hover {
    background-color: #8531d1;
}

label {
    margin-bottom: 10px;
}